<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Consulta de Pessoas</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Resultado da consulta</h1>
    <div th:if="${person == null}" class="alert alert-danger">
        Pessoa não encontrada!
    </div>
    <form th:unless="${person == null}" method="get" th:action="@{/person/update}" th:object="${person}">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th th:text="Identificador"/>
                <th th:text="Email"/>
                <th th:text="Nome"/>
            </tr>
            <tr>
                <td th:text="${person.id}"/>
                <td><input type="text" th:field="*{email}" maxlength="255"/></td>
                <td><input type="text" th:field="*{name}" maxlength="255"/></td>
            </tr>
        </table>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary" th:text="Alterar"/>
    </form>
</div>
</body>
</html>